<!DOCTYPE html>
<!--html structure derived from package from
 * Vali Admin
 * Author: Pratik Borsadiya
and edited to fit our project-->

<html lang="en">
  <head>
    <title>OCFR Admin</title>
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="index.html">OCFR</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>

    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
          <p class="app-sidebar__user-name"> Felicia Smoake</p>
          <p class="app-sidebar__user-designation"> Coordinator</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item active" href="index.html"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Home</span></a></li>
          <ul class="treeview-menu">
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="members-table.html"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Members</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="certificate-table.html"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Certificates</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Reports</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="certificate-report.html"><i class="icon fa fa-circle-o"></i>Reports</a></li>

          </ul>
        </li>
      </ul>
    </aside>
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Oconee County Fire Rescue</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        </ul>
      </div>
  <div class="container">

    <div class="row">
     <div id="certReportApp">
        <div class="col-md-12" >
          <div class="tile">
            <!--<button class="btn btn-primary" style="position: absolute; right: 0;margin:8px">Add Certificate</button>-->
            <h3 class="tile-title">Expired Certificate Report</h3>
            <div  class="table-hover">
              <table class="table">
                <thead>
                    <tr>
                      <th>Member</th>
                      <th>Certificate Name</th>
                      <th>Agency</th>
                      <th>Expiration Period</th>
                      <th>Status</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="r in reports">
                      <td>{{r.firstName}} {{r.lastName}}</td>
                      <td>{{r.certName}}</td>
                      <td>{{r.certAgency}}</td>

                      <td>{{r.certExpirationPeriod}}</td>
                      <td>{{r.isExpired}}</td>
                      <td>{{r.email}}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
      <div id="memberReportApp">
         <div class="col-md-12" >
           <div class="tile">
             <!--<button class="btn btn-primary" style="position: absolute; right: 0;margin:8px">Add Certificate</button>-->
             <h3 class="tile-title">Active Member Contact Info</h3>
             <div  class="table-hover">
               <table class="table">
                 <thead>
                     <tr>
                       <th>Member</th>
                       <th>Member ID</th>
                       <th>Radio</th>
                       <th>Phone Number</th>
                       <th>Status</th>
                       <th>Email</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr v-for="r in reports">
                       <td>{{r.firstName}} {{r.lastName}}</td>
                       <td>{{r.memberId}}</td>
                       <td>{{r.radioNumber}}</td>

                       <td>{{r.phoneNum}}</td>
                       <td>{{r.isExpired}}</td>
                       <td>{{r.email}}</td>
                     </tr>
                   </tbody>
               </table>
             </div>
           </div>
         </div>
       </div>
      </div>
    </div>

</main>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="javascript/cert.app.js"></script>
    <script src="javascript/viewCert.app.js"></script>
    <script src="javascript/addCert.app.js"></script>
    <script src="javascript/action.app.js"></script>
    <script src="javascript/certDetail.app.js"></script>-->
    <script src="javascript/certreport.app.js"></script>
    <script src="javascript/memberReport.app.js"></script>
    <script src="javascript/jquery-3.2.1.min.js"></script>
    <script src="javascript/popper.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/main.js"></script>


  </body>
</html>
